header { 
    width: 1170px;  
    height: 95px;  
    margin-left: auto;
    margin-right: auto; 
} 

.menu li { 
    color: #0072fe;
    margin-right: 76px;
    margin-top: 40px;
    float: right;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}

li {
    list-style-type: none; /* Убираем маркеры */
    display: inline;
    font-family: Roboto;
}

.logo img{
    margin-top: 35px;
}

a.button-nav {
    color: #ffffff;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    background: #0072fe;
    transition: 0.2s;
    user-select: none;
    text-decoration: none;
    padding: .5em 2em;
    font-family: Roboto;
    font-weight: 600px;
}

a.button-nav-cabinet {
    color: #000000;
    outline: none;
    border-radius: 8px;
    background: #fecf00;
    transition: 0.5s;
    user-select: none;
    text-decoration: none;
    padding: .5em 2em;
    font-family: Roboto;
    font-weight: 600px;
}

.button-nav-cabinet {
    float: right;
    margin-top: 30px;
    display: inline-block;
}

.button-nav-cabinet:hover {
    background-color: black;
    color: white;
    float: right;
    border-radius: 20px;
    margin-top: 30px;
    display: inline-block;
}

a.button-nav:hover {
    background-color: black;
    color: white;
}

.button-nav {
    float: right;
    margin-top: 30px;
    display: inline-block;
}

.menu li a:hover {
    color:red;
}
.project {
    margin-top: 200px;
    margin-left: 350px;
}

.project-name {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
}

.project-subname {
    font-family: Roboto;
    font-size: 20px;
}

.man img {
    margin-left: 650px;
    margin-top: -23%;
}

a.button-start {
    color: #ffffff;
    outline: none;
    border-radius: 8px;
    background: #0072fe;
    transition: 0.2s;
    user-select: none;
    text-decoration: none;
    padding: .5em 2em;
    font-family: Roboto;
    font-weight: 600px;
    -webkit-box-shadow: 0px 9px 22px 4px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 9px 22px 4px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 9px 22px 4px rgba(0, 0, 0, 0.18);
}

a.button-check {
    color: #ffffff;
    outline: none;
    border-radius: 8px;
    background: #dd1840;
    transition: 0.2s;
    user-select: none;
    text-decoration: none;
    padding: .5em 2em;
    font-family: Roboto;
    font-weight: 600px;
    -webkit-box-shadow: 0px 9px 22px 4px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 9px 22px 4px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 9px 22px 4px rgba(0, 0, 0, 0.18);
}

.button-start {
    margin-top: 30px;
    display: inline-block;
}

.button-check {
    margin-top: 30px;
    display: inline-block;
}

.mouse-circle img {
    margin-left: 880px;
}

.how-blocks {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #f5f5f5;
    margin-top: 100px;
    height: 880px;
}

.mans-how img {
    margin-right: 920px;
    margin-top: 80px;
}

.how-me {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    margin-top: -35%;
    margin-right: -105px;
    margin-bottom: 30px;
}

.how-me-work {
    font-family: Roboto;
    font-size: 20px;
    margin-top: -20%;
}

.how-title {
    margin-top: -25%;
    margin-right: 220px;
}

.how-me-work2 {
    font-family: Roboto;
    font-size: 18px;
    margin-top: -20%;
}

.work-title {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 900;
    margin-top: 60px;
    margin-left: 80px;
    margin-bottom: 60px;
}

.work-block {
    background-color: rgb(255, 255, 255);
    height: 800px;
    border-radius: 15px;
    width: 620px;
    margin-top: -5%;
    margin-left: 350px;
    -webkit-box-shadow: 2px 5px 39px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 5px 39px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 5px 39px 5px rgba(34, 60, 80, 0.2);
}

.steps-item {
    padding-bottom: 22px;
    padding-top: 22px;
    font-family: Roboto;
    margin-top: -50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E8E8E8; 
}

.how-to-work {
    margin-top: 250px;
}

.steps-text {
    font-family: Roboto;
    margin-top: -65px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.steps-number {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    margin-left: 80px;
    margin-bottom: 30px;
}

.how-steps-text {
    display: inline;
}

.btn {
    height: 50px;
    padding-right: 40px;
    padding-left: 40px;
    background: #FFCA10;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none !important;
    color: #000;
    transition: .5s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}

.steps2 img {
    margin-top: -44%;
    float: right;
    margin-right: 90px;
}

.stats-title {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 600;
    margin-top: 250px;
    text-align: center;
}

.img-stats img {
    height: 200px;
    width: 205px;
    margin: 100px;
    margin-left: 260px;
    margin-top: 45px;
}

.how-invest {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 800;
    margin-top: -80px;
    margin-left: 275px;
}

.new-users {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 800;
    margin-top: -54px;
    margin-left: 860px;
}

.how-money {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 800;
    margin-top: -54px;
    margin-left: 1420px;
}

.invest-stats_subtiltle {
    font-family: Roboto;
    font-size: 20px;
    margin-top: 15px;
}

.who-invest {
    margin-left: 300px;
}

.who-users {
    margin-left: 435px;
}

.who-check {
    margin-left: 360px;
}

.calc {
    background-image: url(../img/calc-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 85px;
    margin-top: 140px;
}

.calculator {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 650px;
    margin-top: 80px;
    margin-left: 900px;
    border-radius: 20px;
    font-family: Roboto;
    margin-bottom: 150px;
}

.calc-item-title {
    color:rgb(0, 0, 0);
    font-size: 17px;
    margin-left: 30px;
    margin-top: 50px;
    padding: 50px;
}

.invest-text {
    margin-top: 0;
}

.text-calc {
    color: white;
    font-family: Roboto;
    margin-top: 25px;
}

.title-calc {
    font-size: 50px;
    font-weight: 700;
    margin-top: -47%;
    margin-left: 250px;
    margin-bottom: 60px;
}

.calc-subtitle {
    font-size: 35px;
    font-weight: 300;
    margin-left: 250px;
    margin-bottom: 170px;
}

.btn-invest {
    height: 70px;
    padding-right: 40px;
    padding-left: 40px;
    background: #FFCA10;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none !important;
    color: #000;
    transition: .2s ease;
    cursor: pointer;
    margin-left: 250px;
    padding: 20px;
}

.btn-invest:hover {
    background-color: black;
    color: white;
}

.calc-item-inp-block {
    height: 42px;
    width: 200px;
    position: relative;
    margin-bottom: 35px;
    margin-left: 80px;
}

.calc-item-inp {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    height: 42px;
    width: 100%;
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #E5E5E5;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    line-height: 36px;
    -webkit-appearance: none;
    padding: 0px 20px 0 0 !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.calc-item-inp-text {
    font-family: Play;
    font-size: 24px;
    color: #000;
    position: absolute;
    top: 8px;
    right: 0px;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;
    width: 570px;
    height: 20px;
    margin-left: 75px;
    border-radius: 20px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 50px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: #000000;
    cursor: pointer;
    border: 6px solid #ffaf04;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffaf04;
    cursor: pointer;
}

.calc-item-time {
    color:rgb(0, 0, 0);
    font-size: 17px;
    margin-left: 75px;
}

.calc-btns {
    font-size: 25px;
    font-family: Roboto;
}

.active {
    background-color: #FFCA10;
    border: 2px solid #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 55px;
}

.btn-false {
    background-color: #ffffff;
    border: 2px solid #a0a0a0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 55px;
}

.btn-false:hover {
    background-color: #FFCA10;
    transition: .5s ease;
}

.btn-tarif {
    margin-left: 70px;
    margin-top: 40px;
}

.calc-item-info {
    display: flex;
    font-family: Roboto;
    margin-top: 50px;
    margin-right: 60px;
    margin-bottom: -20px;
}

.calc-item-info-block-title {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 75px;
    font-size: 15px;
    display: flex;
    align-items: center;
    align-content: center;
}

.calc-item-info-block-text {
    margin-left: 75px;
    font-weight: 600;
    font-size: 30px;
    margin-top: 10px;
}

.sum2 {
    color: green;
}

.calc-faq {
    margin-left: 10px;
    margin-top: 3px;
}

.tarif {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-top: 270px;
    height: 880px;
}

.faq-title {
    font-size: 50px;
    font-family: Roboto;
    font-weight: 600;
    margin-top: 150px;
    margin-left: 900px;
}

.faq-item {
    z-index: 2;
    background-color: #F9F9F9;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 700px;
    align-items: center;
    align-content: center;
    margin-left: 900px;
    margin-top: 60px;
    margin-bottom: -2%;
}

.faq-item-title {
    font-size: 25px;
    line-height: 28px;
    padding-top: 10px;
    padding-right: 10px;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    margin: 5%;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons-faq {
    margin-left: 900px;
    margin-top: 120px;
}

a.btn-faq {
    background: #0259fa;;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    height: 50px;
    font-family: Roboto;
    border-radius: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .4s ease;
}

a.btn-faq:hover {
    background-color: black;
    color: white;
}

a.btn-faq-send {
    background: #FFCA10;
    color: black;
    font-size: 25px;
    font-weight: 500;
    font-family: Roboto;
    height: 50px;
    border-radius: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    transition: .4s ease;
}

a.btn-faq-send:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.svg-btn {
    margin-left: -10px;
}

.img-faq img {
    margin-top: -100%;
    margin-left: 130px;
}

.contact-block {
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 650px;
    margin-top: 300px;
    margin-left: 900px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 5px 39px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 5px 39px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 5px 39px 5px rgba(34, 60, 80, 0.2);
}

.contact-title {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    padding: 50px;
}

.contacts-item {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 50px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
}

.contacts-item-icon {
    margin-right: 50px;
}

.contacts-item-text a {
    color: #5068D4;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #5068D4; 
}

.img-contact img {
    margin-top: -640px;
    margin-left: 270px;
}

.map {
    margin-top: 60px;
}
